<!DOCTYPE html>
<html>
    <body>
    <h1>user data</h1>

<form  action="/auth/index" method="POST">
    <input name="first"  type="text" required />
    <input name="id" name="id" type="text" required />
    <input name="last"  type="text" required />
    <input name="age"  type="number" min="0" max="130" required />

    <button type="submit">Submit</button>
</form>
</body>
</html>

